<html lang="en" class="gr__pstat_ucsb_edu"><head>
  <title>Home | ERP Contest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <?link rel="stylesheet" href="./css/erpcontest.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


{% extends "base.html" %}

{% block content %}

 <!-- Body -->

 
 <div id="content" class="row">
   <div class="col-sm-2 sidebar">
     
   </div>
   <div class="col-sm-9">
<br>

<font size="2">
The Department of Statistics &amp; Applied Probability and the
Center for Financial Mathematics and Actuarial Research are
partnering with <a href="http://hulltactical.com">Hull
Tactical</a> to run a data science contest on predicting the
S&amp;P 500 returns. Undergraduate and Masters students may
participate in teams of up to 4 members, to compete for 
total prizes of <b>$7000</b>
in two categories: (i) <b> Best Prediction </b>
and (ii) <b> Most Creative.</b> The prizes up for grab
include <b>$2500 for the winner</b> and 
<b>$1000 for the runner-up</b> 
in each catergory. 
</font>

<br>
<br>
<font size="3">
<b> Announcements </b>
</font>
<br>
<br>
<font size="2">
<ul>
<li><a href="http://en.wikipedia.org/wiki/Blair_Hull">Blair Hull</a>,
  founder and chairman of Hull Tactical, is giving a special 
  lecture on Thursday February 21 at 5:00pm in Buchanan 1920.
  Here is the original <a href="hull-flyer.pdf">flyer</a>.
</li>
<li> Aditya's office hours will begin on the week of March 4th and
will be held every Monday from 2:00--3:00pm in SH 5607F.
</li>
<li>
  To receive ERP contest related email announcements please 
join our 
<a href="https://docs.google.com/forms/d/e/1FAIpQLScEOB7WK8RUp9HQywPLDQtjYpf1cvxnNZ6w3Fa9Z5kb-pOgdw/viewform">mailing list</a>.
</li>
<li>
  Hull Tactical will hold their first conference call to 
discuss indicators and modelling techniques on March 6th
at 2:00pm. 
Dial-in Number: (605) 475-3235, Access Code: 522939#.
</li>
</ul>
</font>
<br>
<font size="3">
<b> Timeline </b>
</font>
<br>
<br>
<i>
<font size="2">
<ul>
  <li>Team registration opens February 15th.</li>
  <li> <a href="http://en.wikipedia.org/wiki/Blair_Hull">Blair Hull</a>
  of Hull Tactical will make a special presentation 
  on February 21st.</li>
  <li>The first submission deadline for the Best Prediction
  category is April 8th.</li> 
  <li> The live portion of the prediction contest begins
  April 8th and ends May 8th.</li>
  <li>Submissions for the Most Creative category are
  due on May 8th.</li>
  <li>The contest ends May 8th with winners announced soon 
  after.</li>
  <li>Winning teams present their work 
  and are awarded prizes on May 16th.</li>
</ul>
</font>
</i>

<br>
<font size="3">
<b> Registration </b>
</font>

<br>
<br>
<font size="2">
Register your team  <a href="https://goo.gl/forms/hE8Nwm6zRWkz8Fil2">here</a>
or search for like-minded teammates <a href="https://goo.gl/forms/N6NzZmKIcjYUxihv1">here</a>.
Here is the <a href="https://goo.gl/BwG2wy">list of everyone</a>
who searched for a team.
Registration ends on March 15th. You are allowed to 
register a team of up to 4 students (currently enrolled
at UCSB). At most one Master's student can participate
per team and no PhD students are allowed entry.
</font>
<br>
<br>


<font size="3">
<b> Office Hours </b>
</font>

<br>
<br>
<font size="2">
Our PSTAT PhD candidate Aditya Maheshwari will be available
during office hours to provide help with your progress in either
of the contest categories. Aditya's office hours will be
held every Monday at 2:00-3:00pm in SH 5607F.
You can also email all questions to 
<a href="mailto:erpcontest@gmail.com" target="_top">erpcontest@gmail.com</a>.
</font>


<br>
<br>


<font size="3">
<b> Contact </b>
</font>

<br>
<br>

<font size="2">
<i> For contest related inquiries you may email <a href="mailto:erpcontest@gmail.com" target="_top">erpcontest@gmail.com</a>.
Please do <b>NOT</b> email the PSTAT staff or faculty with any contest related questions.
</i>
</font>

<br>
<br>
<br>
<br>
<br>
<br>

      <a href="http://www.ucsb.edu/" onclick="target='_blank'">
         <img src="/static/images/ucsb_logo.png" width="120" alt="UCSB circle logo" style="display: block; margin: 0 auto; margin-top: 20">
      </a>  
      <br>
      <br>
      <img src="/static/images/logo_hull.png" width="120" alt="Hull tactical logo" style="display: block; margin: 0 auto; margin-top: 20">  
   </div>
   <div class="col-sm-1">
     <!-- Empty -->
   </div>
 </div>
 
<br>
<br>
<br>

 <!-- Footer -->
  <div class="row">
   <div class="col-sm-2">
     <!-- Empty -->
   </div>
   <div class="col-sm-9">

     <!-- Actual footer here -->
     <p id="footer">
        <style type="text/css">
            #footer{
                text-align: center;
            }
        </style>
       <a href="http://www.pstat.ucsb.edu" onclick="target='_blank'">Statistics and Applied Probability</a>
       <br>
       University of California
       <br>
       Santa Barbara, California 93106-3110
     </p>
   </div>
   <div class="col-sm-1">
     <!-- Empty -->
   </div>   
 </div> 
</div>

{% endblock%}
