<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home | 2nd ERP Contest</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ERP Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#annoucement">Annoucement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Data</a>
            <!-- <a class="nav-link" href="{{ url_for('data') }}">Data</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-image: url('/static/ucsb_images/stock2_1.jpg')">
    <div class="container">
      <div class="intro-text">
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
        <div class="intro-heading text-uppercase">2020 ERP PREDICTION CONTEST </div>
        <a class="btn btn-primary btn-xl" href="https://erp-contest-2.herokuapp.com/">More about 2019 ERP Contest</a>
      </div>
    </div>
  </header>

  <!-- Annoucement -->
  <section class="page-section" id="annoucement">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Annoucement</h2>
          <h3 class="section-subheading text-muted">Last updated: Jan 11th</h3>
        </div>
      </div>
      <font size="4">
        <ul>
          <li>
            To receive ERP contest related email announcements please
            join our
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScEOB7WK8RUp9HQywPLDQtjYpf1cvxnNZ6w3Fa9Z5kb-pOgdw/viewform">
              <font color=#0000EE>mailing list</font>
            </a> and twitter. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://twitter.com/ContestErp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
              data-show-count="false" align="center">Follow @ContestErp</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>
          <br>
          <li>
            The kickoff event was held Jan 10th, 2pm at Buchanan Hall 1920. Click to download
              <a href="/static/erpcontest.pdf"><font color=#0000EE>ERP Contest Presentation</font></a>
                and <a href="/static/htaa_presentation.pdf"><font color=#0000EE>Hull Tactical Presentation</font>
            </a>.
          </li>
          <br>
          <li>
            The data page is updated. Click to download<a
              href="/static/ucsbdata.csv">
              <font color=#0000EE>datasheet</font>
            </a> and <a
            href="/static/ucsb_glossary.pdf">
            <font color=#0000EE>glossary</font>
          </a>.
          </li>
        </ul>

      </font>
      <!-- <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
            quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div> -->
    </div>
  </section>


  <!-- Team -->
  <!-- <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center"> -->
          <!-- <h2 class="section-heading text-uppercase">Our Team</h2> -->
        <!-- </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
            <h4>Kay Garland</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
            <h4>Larry Parker</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
            <h4>Diana Pertersen</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
            veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>  -->
    <!-- </div>
  </section> -->

  <!-- Clients -->
  <!-- <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Footer -->
  <footer class="bg-light footer">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="http://www.ucsb.edu/" onclick="target='_blank'">
            <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo"
              style="display: block; margin: 0 auto; margin-top: 20">
          </a>
          <br>
          <a href="http://www.hulltactical.com/" onclick="target='_blank'">
            <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo"
              style="display: block; margin: 0 auto; margin-top: 20">
          </a>
          <br>
          <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2020</p>

        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/agency.min.js"></script>

</body>

</html>