<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Leaderboard | ERP Contest</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">Hull Tactical ERP Prediction Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                <style type="text/css">
              #mainNav .navbar-nav > li.nav-item > a {
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 1px;
              }
                </style>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('rules') }}">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data') }}">Data</a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>LEADERBOARD</h1>
            <span class="subheading">Updated every night from April 8th to May 8th</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<!--   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto"> -->
        

<style type="text/css">

  #div1 {
    display: inline-block;
    padding-right: 100px;
}

#div2 {
    display: inline-block;
    padding-right: 100px;

}

#div3 {
    display: inline-block;
    /*padding-right: 55px;
    padding-left: 55px;*/

}
</style>
        
<!-- Phase 1 -->
<div id="wrapper" align="center">
<!--         <p><b><i>
        Phase I result&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPhase II result (ERP realizations) 
        </b>
        <br>
        <font size="3">
        April 2, 2018 - Oct 1, 2018&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspApril 8, 2019 - April 11, 2019
        </font></i></p> -->

  <div id = "div1">
    <p><b><i>Phase I result</b>
    <br>
    <font size="3">
    April 2, 2018 - Oct 1, 2018
    </font></i></p>
    <font size="3">
    <main role="main">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">R-square</th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Matrix</td>
            <td>-0.0498</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chow RunFast</td>
            <td>-0.0639</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Team Accuracy</td>
            <td>-0.0923</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Cheesecake</td>
            <td>-0.0964</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jonas</td>
            <td>-0.1253</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Niko's Team</td>
            <td>-0.1439</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Little White</td>
            <td>-0.1740</td>
          </tr>
                    <tr>
            <th scope="row">8</th>
            <td>Sharpe Predictions</td>
            <td>-0.2607</td>
          </tr>
                    <tr>
            <th scope="row">9</th>
            <td>H41L H3D1</td>
            <td>-0.3247</td>
          </tr>
                    <tr>
            <th scope="row">10</th>
            <td>TBA</td>
            <td>-0.6181</td>
          </tr>
                    <tr>
            <th scope="row">11</th>
            <td>7th floor</td>
            <td>-0.916</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Army of One</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Axolotls</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Big Brother</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Calvin</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>CarrotCake</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Chi-Square</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>Coop</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>DATA</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>ES</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>HKHK</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>James W Squad</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Jungle</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>Just for Fun</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Lehman's Last Analysts</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>Limp Eggnog</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>MA</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>Market Like I Tarket</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Model Behavior</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>MSSerp</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>prse</td>
            <td>-0.916</td>
          </tr> 
                            <tr>
            <th scope="row">11</th>
            <td>Riley's Team</td>
            <td>-0.916</td>
          </tr> 
                    <tr>
            <th scope="row">11</th>
            <td>Rosé</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>SB</td>
            <td>-0.916</td>
          </tr>
                              <tr>
            <th scope="row">11</th>
            <td>Shkreli Bros</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>Subprime Quality</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Tamias</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>TBADAAAR</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Team 49</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>Team Avatar</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Team Filth</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>The Freeriders</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>The Partial Derivatives</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>The Spicy Llamas</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>The Wolves of IV</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>The World History</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Thicc Data</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>VB&F</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Wallstreetbets</td>
            <td>-0.916</td>
          </tr>
           <tr>
            <th scope="row">11</th>
            <td>walnuts</td>
            <td>-0.916</td>
          </tr>   
                              <tr>
            <th scope="row">11</th>
            <td>Zenith</td>
            <td>-0.916</td>
          </tr>
      
        </tbody>
      </table>
    </main>
  </font>
  </div>


<!-- Phase 2 table -->

    <div id = "div2" >
          <p><b><i>Phase II result (ERP realizations) </b>
    <br>
    <font size="3">
    April 8 - May 8, 2019
    </font></i></p>
    <font size="3">
    <main role="main"s>
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">R-square</th>
        </thead>
        <tbody>
                     <tr>
            <th scope="row">1</th>
            <td>7th floor</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Army of One</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Axolotls</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Big Brother</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Calvin</td>
            <td>0.1300</td>
          </tr>
          
          <tr>
            <th scope="row">1</th>
            <td>CarrotCake</td>
            <td>0.1300</td>
          </tr>
          
          <tr>
            <th scope="row">1</th>
            <td>Chi-Square</td>
            <td>0.1300</td>
          </tr>
          
          <tr>
            <th scope="row">1</th>
            <td>Coop</td>
            <td>0.1300</td>
          </tr>
          
          <tr>
            <th scope="row">1</th>
            <td>DATA</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>ES</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>HKHK</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>James W Squad</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Jungle</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Just for Fun</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Lehman’s Last Analysts</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Limp Eggnog</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>MA</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Market Like I Tarket</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Model Behavior</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>MSSerp</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>prse</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Riley's Team</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Rosé</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>SB</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Shkreli Bros</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Subprime Quality</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Tamias</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>TBADAAAR</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Team 49</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Team Avatar</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Team Filth</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>The Freeriders</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>The Partial Derivatives</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>The Spicy Llamas</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>The Wolves of IV</td>
           <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>The World History</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Thicc Data</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>VB&F</td>
            <td>0.1300</td>
          </tr>
                     <tr>
            <th scope="row">1</th>
            <td>walnuts</td>
            <td>0.1300</td>
          </tr>
                     <tr>
            <th scope="row">1</th>
            <td>Wallstreetbets</td>
            <td>0.1300</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Zenith</td>
           <td>0.1300</td>
          </tr>
                    <tr>
            <th scope="row">42</th>
            <td>Cheesecake</td>
            <td>0.0393</td>
          </tr>
                    <tr>
            <th scope="row">43</th>
            <td>H41L H3D1</td>
            <td>-0.0286</td>
          </tr>
                    <tr>
            <th scope="row">44</th>
            <td>Chow RunFast</td>
            <td>-0.1102</td>
          </tr>
          <tr>
            <th scope="row">45</th>
            <td>Matrix</td>
            <td>-0.1309</td>
          </tr>
                              <tr>
            <th scope="row">46</th>
            <td>Niko's Team</td>
            <td>-0.1551</td>
          </tr>
                    <tr>
            <th scope="row">47</th>
            <td>Little White</td>
            <td>-0.2196</td>
          </tr>
                              <tr>
            <th scope="row">48</th>
            <td>Sharpe Predictions</td>
            <td>-0.2792</td>
          </tr>
                    <tr>
            <th scope="row">49</th>
            <td>Jonas</td>
            <td>-0.3065</td>
          </tr>
                     <tr>
            <th scope="row">50</th>
            <td>Team Accuracy</td>
            <td>-0.2869</td>
          </tr>

          <tr>
            <th scope="row">51</th>
            <td>TBA</td>
            <td>-0.7389</td>
          </tr>

        </tbody>
      </table>
    </main>
  </font>
  </div>

  <div id = "div3" >
          <p><b><i>Final Leaderboard</b>
    <br>
    <font size="3">
    Average of the phase 1 and 2
    </font></i></p>
    <font size="3">
    <main role="main"s>
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">R-square</th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cheesecake</td>
            <td>-0.0286</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chow RunFast</td>
            <td>-0.0870</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Matrix</td>
            <td>-0.0903</td>
          </tr>
         <tr>
            <th scope="row">4</th>
            <td>H41L H3D1</td>
            <td>-0.1480</td>
          </tr>
                    <tr>
            <th scope="row">5</th>
            <td>Niko's Team</td>
            <td>-0.1495</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Team Accuracy</td>
            <td>-0.1896</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Little White</td>
            <td>-0.1968</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Jonas</td>
            <td>-0.2159</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Sharpe Predictions</td>
            <td>-0.2700</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>7th floor</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Army of One</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Axolotls</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Big Brother</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Calvin</td>
            <td>-0.3930</td>
          </tr>
          
          <tr>
            <th scope="row">10</th>
            <td>CarrotCake</td>
            <td>-0.3930</td>
          </tr>
          
          <tr>
            <th scope="row">10</th>
            <td>Chi-Square</td>
            <td>-0.3930</td>
          </tr>
          
          <tr>
            <th scope="row">10</th>
            <td>Coop</td>
            <td>-0.3930</td>
          </tr>
          
          <tr>
            <th scope="row">10</th>
            <td>DATA</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>ES</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>HKHK</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>James W Squad</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Jungle</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Just for Fun</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Lehman’s Last Analysts</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Limp Eggnog</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>MA</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Market Like I Tarket</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Model Behavior</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>MSSerp</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>prse</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Riley's Team</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Rosé</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>SB</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Shkreli Bros</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Subprime Quality</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Tamias</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>TBADAAAR</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Team 49</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Team Avatar</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Team Filth</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The Freeriders</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The Partial Derivatives</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The Spicy Llamas</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The Wolves of IV</td>
           <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>The World History</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Thicc Data</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>VB&F</td>
            <td>-0.3930</td>
          </tr>
                     <tr>
            <th scope="row">10</th>
            <td>walnuts</td>
            <td>-0.3930</td>
          </tr>
                     <tr>
            <th scope="row">10</th>
            <td>Wallstreetbets</td>
            <td>-0.3930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Zenith</td>
           <td>-0.3930</td>
          </tr>

          <tr>
            <th scope="row">51</th>
            <td>TBA</td>
            <td>-0.6785</td>
          </tr>

        </tbody>
      </table>
    </main>
  </font>
  </div>

</div>
  <hr>


  <!-- Footer -->
  <footer>
            <a href="http://www.ucsb.edu/" onclick="target='_blank'">
         <img src="/static/ucsb_images/ucsb_logo.png" width="120" alt="UCSB circle logo" style="display: block; margin: 0 auto; margin-top: 20">
          </a>  
          <br>
          <a href="http://www.hulltactical.com/" onclick="target='_blank'">
          <img src="/static/ucsb_images/logo_hull.png" width="120" alt="Hull tactical logo" style="display: block; margin: 0 auto; margin-top: 20">  
        </a>
          <p class="copyright text-muted">Copyright &copy; UCSB Department of Statistics 2019</p>

        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>

</body>

</html>


